<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 
 <p>Team Name: <%= @team_data["name"] %></p>
 <p>Coach: <%= @team_data["coach"] %></p>
 <p>Point Guard: <%= @team_data["pg"] %></p>
 <p>Shooting Guard: <%= @team_data["sg"] %></p>
 <p>Power Forward: <%= @team_data["pf"] %></p>
 <p>Center: <%= @team_data["c"] %></p>


 </body>
</html>


